body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 500px;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.tarefa {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
}